*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
font-family: gilroy;
}
html,body{
height: 100%;
width: 100%;
}
#main{
width:100%;
}
#cursor{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    z-index: 1111;
    transition: cubic-bezier(0.19, 1, 0.22, 1) .4s;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: bisque;
}
#page2{
    height: 100vh;
    width: 100%;
    background-color: palegreen;
}
#page3{
    height: 100vh;
    width: 100%;
    background-color:lavender;
}
#page4{
    height: 100vh;
    width: 100%;
    background-color: cadetblue;
}